.top-menu {
    max-width: $page-width;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    ul {
        display: inline-block;
    }
}

.top-menu__item {
    display: inline-block;
    min-width: 250px;
    font-size: 18px;
    padding: 8px;
    border: 2px solid transparent;
}
.top-menu__item_selected {
    border: 2px solid black;
}
