.column-with-sidebar {
    margin: 0 auto;
    max-width: $page-width;
    position: relative;
}

@include responsive(D) {
    .column-with-sidebar__sidebar {
        position: absolute;
        left: 0;
    }

    .column-with-sidebar__main {
        margin-left: 250px;
        max-width: 400px;
    }
}
